.favorites-container .card {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.favorites-container .card-body {
  flex-grow: 1;
}


.job-description {
  flex-grow: 1;
  display: -webkit-box;
  -webkit-line-clamp: 7; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}


.card-title {
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}



.card-animate {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.6s ease-out;
}

.card-animate.visible {
  opacity: 1;
  transform: translateY(0);
  width:95%;
}

